asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
certifi==2019.3.9
chardet==3.0.4
configparser==3.5.0b2
constantly==15.1.0
cryptography==2.3
dnspython==1.16.0
docopt==0.6.2
entrypoints==0.3
enum34==1.1.6
hyperlink==19.0.0
idna==2.6
incremental==17.5.0
ipaddress==1.0.17
keyring==17.1.1
keyrings.alt==3.1.1
pcapy==0.11.4
pipreqs==0.4.9
pycrypto==2.6.1
PyGObject==3.32.0
PyHamcrest==1.9.0
pyxdg==0.26
requests==2.22.0
SecretStorage==2.3.1
six==1.12.0
Twisted==19.7.0
urllib3==1.26.5
wget==3.2
yarg==0.1.9
zope.interface==4.6.0
